
  /* Begin Media Queries*/



@media (max-width: 3000px)  {
  .container_info_0{
/*     width: 58%; */
  }

  .anm_a_0 {
    font-size: 5.4rem;
    color: #fff;
}

  .container_info_a{
    width: 100%;
    height: 48rem;
}

.h1_title{
  font-size: 5rem;
  margin-bottom: 3rem;
}
.h1_text{
  font-size: 3rem;
}
.title_somos_b{
  text-align: center;
  font-family: 'Monserrat', sans-serif;
  margin: 2rem 0rem;
  font-size: 4rem;
}
.service_box span{
  font-size: 1.2rem;
}
.service_box{
  min-height: 10rem;
}
.service_box_p {
  font-size: 12px;
  color: rgb(255 255 255 / 61%);
}
.about_btn, .about_btn:hover{
  font-size: 1.5rem;
  margin-left: 28rem;
  margin-top: 6rem;
  border-radius: 3rem;
}

.about_btn_new, .about_btn_new:hover{
  margin-top: 3rem;
}
.title_somos_a{
  font-size: 14rem;
}
.somos_text_a{
  font-size: 32px;
  margin-top: -4rem;
}
.somos_img img{
  width: 84%;
  margin-top: -12rem;
  margin-left: 4rem;
}
}

@media (max-width: 1920px) {
  .container_info_0{

  }

  .anm_a_0 {
    font-size: 3.4rem;
    color: #fff;
}

  .container_info_a{
    width: 49%;
    height: 32rem;
    padding-top: 3rem;
}


.h1_title{
  font-size: 3rem;
  margin-bottom: 3rem;
}
.h1_text{
  font-size: 2.2rem;
}

.service_box span{
  font-size: 1.2rem;
}
.service_box{
  min-height: 8rem;
}
.service_box_p {
  font-size: 12px;
  color: rgb(255 255 255 / 61%);
}
.about_btn, .about_btn:hover{


  font-size: 1.2rem;
  margin-left: 14rem;
  margin-top: 5rem;
  border-radius: 3rem;
}

.about_btn_new{
  margin-top: 3rem;
}
.title_somos_a{
  font-size: 10rem;
}
.title_somos_b{
  text-align: center;
  font-family: 'Monserrat', sans-serif;
  margin: 2rem 0rem;
  font-size: 3rem;
}
.somos_text_a{
  font-size: 26px;
  margin-top: -2rem;
}
.somos_text_b{
  font-size: 20px;
}
.somos_img img{
  width: 84%;
  margin-top: -3rem;
  margin-left: 4rem;
}

}

@media screen and (min-width: 1600px) {

}
@media screen and (min-width: 1400px) {

}




/* Landscape devices (large desktops, 1200px and down) */
@media (max-width: 1280px) { 
  .service_box span{
    font-size: 12px;
  }

  .container_info_0 {
    width: 47%;
    height: 70%;

}

.anm_a_0 {
  font-size: 1.9rem;
  color: #fff;
}

.h1_title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.h1_text {
  font-size: 1.6rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 3rem;
  margin-top: 3rem;
  border-radius: 3rem;
  padding: 0.5rem 3rem;
}

}

/* LANDSCAPE DEVICES */

/* Landscape devices (large desktops, 1194px and down) */
@media (max-width: 1194px) { 
  .service_box span{
    font-size: 12px;
  }

  .container_info_0 {
    width: 50%;
    height: 70%;

}

.anm_a_0 {
  font-size: 1.9rem;
  color: #fff;
}

.h1_title {
  font-size: 2.4rem;
  margin-bottom: 3rem;
}

.h1_text {
  font-size: 1.6rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 0rem;
  margin-top: 2rem;
  border-radius: 3rem;
}

}

/* Landscape devices (large desktops, 1180px and down) */
@media (max-width: 1180px) { 
  .service_box span{
    font-size: 12px;
  }

  .container_info_0 {
    width: 50%;
    height: 70%;

}

.anm_a_0 {
  font-size: 1.9rem;
  color: #fff;
}

.h1_title {
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-right: 75px;
}

.h1_text {
  font-size: 1.6rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 0rem;
  margin-top: 1.5rem;
  border-radius: 3rem;
}

}

/* Landscape devices (large desktops, 1104px and down) */
@media (max-width: 1104px) { 
  .service_box span{
    font-size: 12px;
  }

  .container_info_0 {
    width: 56%;
    height: 76%;

}

.anm_a_0 {
  font-size: 1.8rem;
  color: #fff;
}

.h1_title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-right: 75px;
}

.h1_text {
  font-size: 1.4rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 0rem;
  margin-top: 1.5rem;
  border-radius: 3rem;
}

}

/* Landscape devices (large desktops, 1024px and down) */
@media (max-width: 1024px) { 
  .service_box span{
    font-size: 12px;
  }

  .container_info_0 {
    width: 56%;
    height: 69%;

}

.anm_a_0 {
  font-size: 1.8rem;
  color: #fff;
}

.h1_title {
  font-size: 2rem;
  margin-bottom: 1.2rem;
  margin-right: 75px;
}

.h1_text {
  font-size: 1.2rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: -2rem;
  margin-top: 1.2rem;
  border-radius: 3rem;
}

}



/* Medium devices (desktops, 992px and down) */
@media (max-width: 992px) { 
  .container_info_a{
    width: 94%;
    padding: 1rem 6rem 0rem 3rem;
    top: 22%;
  }
  .h1_title{
    font-size: 48px;
    margin-bottom: 2rem;
  }
  .h1_text {
    font-size: 38px;
}
.full_container_a, .full_container_b{
  padding: 4rem;
}
.service_box span{
  font-size: 20px;
}
}
/* tables up */
@media (min-width: 885px) { 

/* vertical dots tambien hay que cambiar la resolucion en my_slick.js*/
.wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 45em;
  width: 90%;
}

.vertical-dots {
  left: 10px;
  list-style: none;
  display: block;
  position: absolute;
  top: 40%;
  margin-top: -10px;
  text-align: right;
}

.vertical-dots li {
  position: relative;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.vertical-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.vertical-dots li button:hover,
.vertical-dots li button:focus {
  outline: none;
}

.vertical-dots li button:hover:before,
.vertical-dots li button:focus:before {
  opacity: 1;
}

.vertical-dots li button:before {
  font-family: 'slick';
  font-size: 15px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: '•';
  text-align: center;

  opacity: .25;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vertical-dots li.slick-active button:before {
  opacity: .75;
  color: #dd016b;
}
/* vertical dots*/

 }
/* PORTRAIT DEVICES */
/* Portrait devices (large desktops, 884px and down) */

@media (max-width: 884px) {
  .container_info_0 {
    background-image: url(../img/svg/completo.svg);
    margin-top: 8rem;
    width: 69%;
    height: 70%;
  }

  .anm_a_0 {
    font-size: 2.4rem;
    color: #fff;
} 

.h1_title {
  font-size: 48px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 7rem;
  margin-top: 3rem;
  border-radius: 3rem;
}
}

/* Portrait devices (large desktops, 834px and down) */

@media (max-width: 834px) {
  .container_info_0 {
    margin-top: 12rem;
    width: 78%;
    height: 69%;
}

  .anm_a_0 {
    font-size: 2.8rem;
    color: #fff;
} 

.h1_title {
  font-size: 48px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 8rem;
  margin-top: 3rem;
  border-radius: 3rem;
}
}

/* Portrait devices (large desktops, 820px and down) */

@media (max-width: 820px){
  .container_info_0 {
    margin-top: 12rem;
    width: 85%;
    height: 75%;
}

  .anm_a_0 {
    font-size: 3rem;
    color: #fff;
} 

.h1_title {
  font-size: 48px;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 7rem;
  margin-top: 1.6rem;
  border-radius: 3rem;
}
}

/* Portrait devices (large desktops, 800px and down) */

@media (max-width: 800px){
  .container_info_0 {
    margin-top: 12rem;
    width: 94%;
    height: 74%;
}

  .anm_a_0 {
    font-size: 3rem;
    color: #fff;
} 

.h1_title {
  font-size: 48px;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 7rem;
  margin-top: 1.6rem;
  border-radius: 3rem;
}
}

/* Portrait devices (large desktops, 768px and down) */

@media (max-width: 768px){
  .container_info_0 {
    margin-top: 9rem;
    width: 77%;
    height: 75%;
    padding-top: 0rem;
}

  .anm_a_0 {
    font-size: 2.6rem;
    color: #fff;
} 

.h1_title {
  font-size: 44px;
  margin-bottom: 1.6rem;
  margin-top: 2rem;
}

.h1_text {
  font-size: 36px;
}

.about_btn, .about_btn:hover {
  font-size: 1.2rem;
  margin-left: 7rem;
  margin-top: 2.2rem;
  border-radius: 3rem;
}
}

@media (max-width: 428px) { 

  .title_somos_a{
  font-size: 4.5rem;
  }

  .somos_text_a, .somos_text_b{

      font-size: 20px;
      line-height: 26px;
  }
  .anm_a_0 {
    font-size: 1.2rem;
}

.about_btn_new, .about_btn_new:hover{
  width: auto;
}
.full_container_a, .full_container_b{
  padding: 3rem;
}
.full_container_b{
  padding-top: 0;
}
.somos_img img{
  margin-left: 0;
  width: 100%;
  margin-top: 0;
}


.title_somos_b{
  font-size: 2.5rem;
}


  .container_new .container {
padding: 0;
}

.service_box{
  min-height: 6rem;
}
.service_box span{
  font-size: 15px;
}
.h1_title{
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.h1_text {
  font-size: 1rem;
}

.container_info_a{
  width: 86%;
  top: 24%;
  height: 26%;
  padding: 0rem 3rem 0rem 2rem;
}
.container_info_0 {
  margin-top: 14rem;
  width: 77%;
  height: 43%;
}

.about_btn, .about_btn:hover {
  font-size: 0.56rem;
  margin-left: 2.6rem;
  margin-top: 1rem;
  border-radius: 3rem;
  width: 8rem;
  height: 1.2rem;
  padding: 0rem 2rem 1.6rem 2rem;
}

}


 /* Small devices (tablets, 425px and down) */
@media (max-width: 425px) { 
  .container_info_0 {
  /*   padding: 7rem 2rem; */
  }

}

@media (max-width: 414px) { 

  .title_somos_a{
  
  }
  .anm_a_0 {
    font-size: 1.2rem;
}
  .container_new .container {

}

.h1_title{
  font-size: 1.8rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.h1_text {
  font-size: 1rem;
}

.container_info_a{
  width: 86%;
  top: 24%;
  height: 26%;
  padding: 0rem 3rem 0rem 2rem;
}
.container_info_0 {
  margin-top: 13rem;
  width: 76%;
  height: 41%;
}

.about_btn, .about_btn:hover {
  font-size: 0.56rem;
  margin-left: 2.6rem;
  margin-top: 1rem;
  border-radius: 3rem;
  width: 8rem;
  height: 1.2rem;
  padding: 0rem 2rem 1.6rem 2rem;
}

}

@media (max-width: 390px) { 

  .title_somos_a{
  
  }
  .anm_a_0 {
    font-size: 1.2rem;
}
  .container_new .container {

}

.h1_title{
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.h1_text {
  font-size: 0.86rem;
}

.container_info_a{
  width: 86%;
  top: 24%;
  height: 23%;
  padding: 0rem 3rem 0rem 2rem;
}
.container_info_0 {
  margin-top: 12rem;
  width: 75%;
  height: 38%;
}

.about_btn, .about_btn:hover {
  font-size: 0.56rem;
  margin-left: 2.6rem;
  margin-top: 1rem;
  border-radius: 3rem;
  width: 8rem;
  height: 1.2rem;
  padding: 0rem 2rem 1.6rem 2rem;
}

}

@media (max-width: 375px) { 

  .title_somos_a{
  
  }
  .anm_a_0 {
    font-size: 1.2rem;
}
  .container_new .container {

}

.h1_title{
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.h1_text {
  font-size: 0.86rem;
}

.container_info_a{
  width: 86%;
  top: 24%;
  height: 23%;
  padding: 0rem 3rem 0rem 2rem;
}
.container_info_0 {
  margin-top: 12rem;
  width: 74%;
  height: 36%;
}

.about_btn, .about_btn:hover {
  font-size: 0.56rem;
  margin-left: 2.6rem;
  margin-top: 0.8rem;
  border-radius: 3rem;
  width: 8rem;
  height: 1.2rem;
  padding: 0rem 2rem 1.6rem 2rem;
}
.service_box span {
  font-size: 12px;
}
}

@media (max-width: 360px) { 

  .title_somos_a{
    font-size: 4rem;
  }
  .anm_a_0 {
    font-size: 1.2rem;
}
  .container_new .container {

}

.h1_title{
  font-size: 1.4rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
  margin-right: 1rem;
}

.h1_text {
  font-size: 0.86rem;
}

.container_info_a{
  width: 86%;
  top: 24%;
  height: 23%;
  padding: 0rem 3rem 0rem 2rem;
}
.container_info_0 {
  margin-top: 28vh;
  width: 81%;
  height: 38%;
}

.about_btn, .about_btn:hover {
  font-size: 0.56rem;
  margin-left: 2.6rem;
  margin-top: 0.8rem;
  border-radius: 3rem;
  width: 8rem;
  height: 1.2rem;
  padding: 0rem 2rem 1.6rem 2rem;
}

}
@media (max-width: 320px) { 

  .title_somos_a{
    font-size: 3rem;
  }
  .anm_a_0 {
    font-size: 1.2rem;
}
.service_box span {
  font-size: 12px;
}
  .container_new .container {
    padding: 0;
    width: 108%;
    margin-left: -8%;
}

.h1_title{
  font-size: 1rem;
  margin-bottom: 0.6rem;
  margin-top: 0.6rem;
}

.h1_text {
  font-size: 0.76rem;
}

.container_info_a{
  width: 86%;
  top: 17%;
  height: 20%;
  padding: 0rem 3rem 0rem 2rem;
}
.container_info_0 {
  margin-top: 6rem;
  width: 80%;
  height: 34%;
}

.about_btn, .about_btn:hover {
  font-size: 0.56rem;
  margin-left: 1.6rem;
  margin-top: 0.4rem;
  border-radius: 3rem;
  width: 8rem;
  height: 1.2rem;
  padding: 0rem 2rem 1.6rem 2rem;
}

}
